/*
Proyecto: Cambridge Teacher
Autor: Pedro de la Cruz
Fecha: 19/5/2016
*/

/*****************************
RESET
*****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{outline: medium none;text-decoration: none;}
a img{border:none;}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*****************************
PROPIEDADES GENERALES
******************************/
body{margin:0;padding:0;font-family:'sofia-pro-regular', Helvetica, sans-serif;font-size: 1em;line-height: 1.5em;}
.container{display:block;width:100%;min-width:768px;margin:0 auto;position:relative;}
#wrapper{}

/*****************************
PROPIEDADES HEADER
******************************/
#header{position:relative;}
.logo_h{display:block;background:url(../img/logo_cambridge.png) top left no-repeat;height:47px;width:162px;background-size:162px;text-indent:-99999px;}

ul.menu_h{padding:0;margin:0;font-size:0;position:absolute;top:0;right:0;}
ul.menu_h li{height:48px;display:inline-block;position:relative;}
ul.menu_h li a{font-size:14px;line-height:48px;color:#7d7974;display:block;text-align:center;width:70px;}
ul.menu_h li a:hover{background:#2e2e2e;color:#ffffff;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}

ul.menu_h li.language_opc>a{width:50px !important;display:block;background:url(../img/ico_globe.png) center center no-repeat;background-size:20px;text-indent:-99999px;}
ul.menu_h li.language_opc.active{background:#2e2e2e;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
ul.menu_h li.language_opc.active>a{background:url(../img/ico_globe_act.png) center center no-repeat;background-size:20px;}
ul.menu_h li.language_opc>a:hover{background:url(../img/ico_globe_act.png) center center no-repeat;background-size:20px;}
ul.menu_h li .desplegable {background:#2e2e2e;display:none;right:0;position:absolute;top:47px;width:171px;z-index:99;box-sizing:border-box;opacity:0;}
ul.menu_h li.language_opc .desplegable{padding-left:47px;padding-top:28px;padding-bottom:34px;}
ul.menu_h li.language_opc .desplegable h3{padding-bottom:25px;color:#fde052;font-size:16px;font-family:'sofia-pro-black', Helvetica, sans-serif;}
ul.menu_h li.language_opc .desplegable a{color:#a19d98;font-size:14px;font-family:'sofia-pro-regular', Helvetica, sans-serif;display:block !important;line-height:21px !important;width:auto !important; height:auto !important;text-align:left !important;margin-bottom:5px;}
ul.menu_h li.language_opc .desplegable a.active{color:#ffffff;}
ul.menu_h li.language_opc .desplegable a:hover{color:#ffffff;}

ul.menu_h li.login_opc>a:hover{background:#ffffff;}
ul.menu_h li.login_opc>a{width:125px;}
ul.menu_h li.login_opc>a span{display:block;background:#fde052;height:33px;line-height:33px;width:113px;border-radius:30px;color:#2e2e2e;right:50px !important;margin:0 auto;}
ul.menu_h li.login_opc>a span:hover{background:#393939;color:#ffffff;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
ul.menu_h li.login_opc .desplegable{padding-left:47px;padding-top:33px;padding-bottom:0px;width:332px !important;box-sizing:border-box;padding-left:36px;padding-right:36px;}
#form-login label{display:none;}
#form-login input[type=text],#form-login input[type=password]{width:100%;font-size:14px;color:#5e5e5e;height:40px;background:#2e2e2e;line-height:20px;box-sizing:border-box;padding-left:20px;padding-right:20px;border:#5e5e5e solid 2px;margin-bottom:20px;}
.btns-login{overflow:hidden;margin-bottom:10px;}
#form-login input[type=submit]{float:left;width:130px;height:35px;-webkit-appearance:none;border-radius:30px;background:#393939;display:block;line-height:35px;font-family:'sofia-pro-black', Helvetica, sans-serif;color:#fde052;border:none;font-size:14px;}
.btns-login .btn-register{float:right;width:107px;height:35px;border-radius:30px;background:#393939;display:block;line-height:35px;color:#5e5e5e;font-size:14px;}
.txt-remember{text-align:right !important;}
.txt-remember a{width:auto !important;height:auto !important;color:#5e5e5e !important;line-height:13px !important;font-size:10px !important;display:inline-block !important;}

ul.menu_h li.login_opc.active>a{background:#2e2e2e;color:#ffffff;}
ul.menu_h li.login_opc.active>a span{background:#2e2e2e;color:#ffffff;height:48px;line-height:48px;width:125px;}

ul.menu_h li.user_opc>a{color:#30c0d8;width:auto;padding-left:20px;padding-right:20px;background:url(../img/arrow_down.png) 95% 23px no-repeat;background-size:9px;}
ul.menu_h li.user_opc.active>a{background:#ffffff;color:#30c0d8;background:url(../img/arrow_down.png) 95% 23px no-repeat;background-size:9px;}
ul.menu_h li.user_opc>a:hover{background:url(../img/arrow_down.png) 95% 23px no-repeat;background-size:9px;}

ul.menu_h li.user_opc .desplegable p{color:#ffffff;}

.cobo-logo{}
h1{display:block;position:absolute;top:0;left:197px;height:48px;width:222px;height:48px;background:url(../img/ico_cambridge_t.png) center left no-repeat;background-size:222px;text-indent:-99999px;}
span.type-user{position:absolute;font-size:12px;font-family:'sofia-pro-black', Helvetica, sans-serif;display:block;height:20px;line-height:20px;padding-left:10px;padding-right:10px;background:#2e2e2e;top:15px;border-radius:2px;color:#fde052;left:425px;}

/*****************************
PROPIEDADES HOME
******************************/
#banner-home{background:#fde052 url(../img/banner-home.png) center 45px no-repeat;height:493px;text-align:center;background-size:935px;position:relative;}
.btn-register-h{position:absolute;height:50px;line-height:50px;width:222px;background:#2e2e2e;border-radius:30px;bottom:-25px;left:0;right:0;margin:0 auto;color:#fde052;font-size:16px;font-family:'sofia-pro-black', Helvetica, sans-serif;}

.txt-b-bottom{position:absolute;bottom:50px;width:100%;}
.txt-b-bottom p{text-align:center;color:#2e2e2e;font-size:20px;font-family:'sofia-pro-black', Helvetica, sans-serif;}

.txt-b-top{position:absolute;top:65px;width:100%;}
.txt-b-top p{text-align:center;color:#2e2e2e;font-size:16px;font-family:'sofia-pro-black', Helvetica, sans-serif;}
.txt-b-top p:first-child:after{content:'';display:block;background:url(../img/embellecedor-w.png) top center no-repeat;height:6px;background-size:41px;margin-top:2px;margin-bottom:-1px;}

#info-home{background:#f5f0eb;padding-top:50px;}
.pizarra-interectiva{padding-right:15px;padding-left:225px;height:350px;padding-bottom:12px;}
.inside-pizarra{height:350px;background:#ffffff;padding-left:210px;padding-top:90px;position:relative;box-sizing:border-box;}
.inside-pizarra h3{font-family:'sofia-pro-black', Helvetica, sans-serif;font-size:26px;color:#2e2e2e;}
.inside-pizarra h3:after{display:block;content:'';background:url(../img/embellecedor-a.png) top left no-repeat;background-size:43px;height:7px;margin-top:25px;margin-bottom:25px;margin-left:-25px;}
.inside-pizarra p{color:#2e2e2e;font-size:16px;line-height:24px;}
.inside-pizarra p strong{font-family:'sofia-pro-black', Helvetica, sans-serif;}
.inside-pizarra img{width:284px;position:absolute;top:74px;left:-177px;z-index:10;}

.recursos-extra{padding-left:15px;padding-right:225px;height:350px;padding-bottom:12px;}
.inside-recursos{height:350px;background:#ffffff;padding-left:125px;padding-top:90px;position:relative;box-sizing:border-box;z-index:20;}
.inside-recursos h3{font-family:'sofia-pro-black', Helvetica, sans-serif;font-size:26px;color:#2e2e2e;}
.inside-recursos h3:after{display:block;content:'';background:url(../img/embellecedor-r.png) top left no-repeat;background-size:43px;height:7px;margin-top:25px;margin-bottom:25px;margin-left:-25px;}
.inside-recursos p{color:#2e2e2e;font-size:16px;line-height:24px;}
.inside-recursos p strong{font-family:'sofia-pro-black', Helvetica, sans-serif;}
.inside-recursos img{width:303px;position:absolute;top:133px;right:-177px;}

.que-esta-pasando{padding-right:15px;padding-left:225px;height:350px;padding-bottom:12px;}
.inside-pasando{height:350px;background:#ffffff;padding-left:210px;padding-top:90px;position:relative;box-sizing:border-box;z-index:30}
.inside-pasando h3{font-family:'sofia-pro-black', Helvetica, sans-serif;font-size:26px;color:#2e2e2e;}
.inside-pasando h3:after{display:block;content:'';background:url(../img/embellecedor-v.png) top left no-repeat;background-size:43px;height:7px;margin-top:25px;margin-bottom:25px;margin-left:-25px;}
.inside-pasando p{color:#2e2e2e;font-size:16px;line-height:24px;}
.inside-pasando p strong{font-family:'sofia-pro-black', Helvetica, sans-serif;}
.inside-pasando img{width:284px;position:absolute;top:74px;left:-177px;z-index:10;}

#info-profesor{text-align:center;background:#fde052;padding-top:50px;padding-bottom:65px;z-index:40;position:relative;}
#info-profesor h2{font-family:'sofia-pro-black', Helvetica, sans-serif;font-size:26px;color:#2e2e2e;margin-bottom:40px;}
#info-profesor p{font-size:16px;line-height:21px;color:#2e2e2e;margin-bottom:10px;}
#info-profesor p strong{font-family:'sofia-pro-black', Helvetica, sans-serif;}
#info-profesor a{height:50px;line-height:50px;width:222px;background:#2e2e2e;border-radius:30px;margin:0 auto;color:#ffffff;font-size:14px;font-family:'sofia-pro-black', Helvetica, sans-serif;display:block;width:222px;margin-top:30px;}

/*****************************
PROPIEDADES MI COLECCION
******************************/
#banner-coleccion{background:#fde052;height:360px;position:relative;}
#banner-coleccion .container{background:#fde052 url(../img/bg-mi-coleccion.png) top left no-repeat;height:360px;background-size:contain;}
#banner-coleccion h2{padding-top:68px;padding-left:25px;font-size:40px;color:#2e2e2e;font-family:'sofia-pro-black', Helvetica, sans-serif;}
.enl-coleccion{text-align:right;margin-top:17px;padding-right:60px;margin-bottom:17px;}
.enl-coleccion a{color:#2e2e2e;font-size:14px;font-family:'sofia-pro-black', Helvetica, sans-serif;margin-left:30px;}
.enl-coleccion a:first-child{margin-left:0;}
.enl-coleccion a:before{content:'';display:inline-block;background:url(../img/ico_plus.png) center center no-repeat;background-size:21px;width:21px;height:21px;vertical-align:middle;margin-right:10px;}
.carrusel-coleccion{width:100%;overflow:hidden;}

/*.carrusel-coleccion div.slider ul { margin:0; padding:0; height:200px; }
.carrusel-coleccion div.slider li { float:left; list-style:none; margin:0 5px 0 0; }
.carrusel-coleccion div.slider li { text-align:center; line-height:200px; font-size:25px; }
.carrusel-coleccion div.slider li img { height:200px;}*/

#block-coleccion{background:#2e2e2e;height:277px;margin-bottom:50px;position:relative}
#block-coleccion .container{background:#2e2e2e url(../img/bg-catalogo.png) top center no-repeat;height:277px;;background-size:contain;}
#block-coleccion h3{font-size:40px;color:#fde052;padding-left:60px;font-family:'sofia-pro-black', Helvetica, sans-serif;padding-top:40px;}
#block-coleccion .enl-explorar{position:absolute;color:#fde052;font-family:'sofia-pro-black', Helvetica, sans-serif;font-size:14px;right:25px;top:60px;}
#block-coleccion .enl-explorar:before{content:'';display:inline-block;vertical-align:middle;width:21px;height:21px;background:url(../img/ico-explorar.png) center center no-repeat;background-size:21px;margin-right:10px;}
#block-coleccion .mod-catalogo{position:absolute;bottom:0;box-sizing:border-box;border:3px solid #323232;display:block;width:114px;background:#464646;}
#block-coleccion .enl-infantil{height:142px;left:50%;margin-left:-451px;}
#block-coleccion .enl-primaria{height:158px;left:50%;margin-left:-294px;}
#block-coleccion .enl-secundaria{height:150px;left:50%;margin-left:-134px;}
#block-coleccion .enl-bachillerato{height:144px;left:50%;margin-left:22px;}
#block-coleccion .enl-examenes{height:158px;left:50%;margin-left:179px;}
#block-coleccion .enl-adultos{height:144px;left:50%;margin-left:338px;}
#block-coleccion .mod-catalogo span{display:block;font-size:13px;font-family:'sofia-pro-black', Helvetica, sans-serif;color:#fde052;position:absolute;text-align:center;width:100%;bottom:50px;}
#block-coleccion .mod-catalogo span:before{content:'';display:block;background:#363636;width:80px;height:3px;margin:0 auto;margin-bottom:5px;}
#block-coleccion .mod-catalogo span:after{content:'';display:block;background:#363636;width:80px;height:3px;margin:0 auto;margin-top:5px;}

#list-news{background:#f5f0eb;padding-top:30px;padding-bottom:40px;}
#block-noticias h3{font-size:26px;color:#2e2e2e;font-family:'sofia-pro-black', Helvetica, sans-serif;padding-bottom:20px;display:inline-block;margin-left:108px;border-bottom:7px solid #fb6120;}
#list-news .container{overflow:hidden;box-sizing:border-box;padding-left:14px;padding-right:14px;}
#list-news .container .new-single{width:25%;float:left;box-sizing:border-box;padding-left:9px;padding-right:9px;margin-bottom:18px;}
#list-news .container .new-single .inside-new{background:#ffffff;}
#list-news .container .new-single .inside-new:hover{background:#ffffff url(../img/arrow_new.png) 94% 97% no-repeat;background-size:10px;}
#list-news .container .new-single .inside-new img{max-width:100%;}
#list-news .container .new-single .inside-new img + h4{margin-top:-25px;}
#list-news .container .new-single .inside-new h4{color:#2e2e2e;font-size:18px;box-sizing:border-box;padding-right:10px;padding-left:10px;position:relative;}
#list-news .container .new-single .inside-new h4 span{background:#ffffff;padding-left:10px;padding-right:10px;box-sizing:border-box;display:block;padding-top:10px;padding-bottom:10px;}
#list-news .container .new-single .inside-new h4:after{content:'';display:block;width:75px;height:5px;background:#fde052;margin-bottom:15px;}
#list-news .container .new-single .inside-new p{color:#2e2e2e;font-size:14px;line-height:21px;padding-left:20px;padding-right:20px;padding-bottom:15px;}
.btn-more{clear:both;text-align:center;padding-top:20px;}
.btn-more a{color:#2e2e2e;font-size:14px;font-family:'sofia-pro-black', Helvetica, sans-serif;}
.btn-more a:after{content:'';display:block;background:url(../img/ico_plus.png) top center no-repeat;background-size:21px;height:21px;}


/*****************************
PROPIEDADES CATALOGO
******************************/
#banner-catalogo{height:180px;position:relative;background:#fde052 url(../img/bg-catalogo-min.jpg) top left no-repeat;background-size:1024px;overflow:hidden;}
#banner-catalogo h2{color:#2e2e2e;font-size:40px;font-family:'sofia-pro-black', Helvetica, sans-serif;padding-top:70px;padding-left:60px;}

#banner-catalogo ul.tipo_cat{position:absolute;bottom:-4px;left:15px;font-size:0;}
#banner-catalogo ul.tipo_cat li{display:inline-block;font-size:16px;height:32px;}
#banner-catalogo ul.tipo_cat li a{display:block;height:32px;line-height:32px;padding-left:30px;padding-right:30px;font-size:18px;font-family:'sofia-pro-black', Helvetica, sans-serif;color:#2e2e2e;}
#banner-catalogo ul.tipo_cat li a:hover{background:#ffffff;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out}
#banner-catalogo ul.tipo_cat li.active a{background:#ffffff;}

#banner-catalogo ul.filter_cat{position:absolute;bottom:-3px;right:15px;font-size:0;}
#banner-catalogo ul.filter_cat li{display:inline-block;font-size:16px;}
#banner-catalogo ul.filter_cat li a{display:block;height:32px;line-height:32px;padding-left:15px;padding-right:15px;font-size:14px;font-family:'sofia-pro-black', Helvetica, sans-serif;color:#2e2e2e;}
#banner-catalogo ul.filter_cat li a:hover{background:#ffffff;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out}
#banner-catalogo ul.filter_cat li.active a{background:#ffffff;}

#selectores-filtros{height:50px;text-align:right;}
#selectores-filtros a{color:#7d7974;font-size:14px;font-family:'sofia-pro-black', Helvetica, sans-serif;margin-right:50px;position:relative;top:12px;}
#selectores-filtros a:before{content:'';display:inline-block;width:21px;height:21px;background-image:url(../img/ico-filter.png);background-size:21px;vertical-align:middle;margin-right:20px;background-position:0px 0px;background-repeat:no-repeat;}
#selectores-filtros a.active:before{background-position:0px -21px;}

#content-catalogo{box-sizing:border-box;padding-left:8px;padding-right:8px;overflow:hidden;padding-bottom:52px;}
#content-catalogo .single-box-book{width:25%;box-sizing:border-box;padding-left:9px;padding-right:9px;float:left;margin-bottom:18px;}
#content-catalogo .single-box-book .inside-b-book{text-align:center;box-sizing:border-box;position:relative;overflow:hidden;padding:30px;}
#content-catalogo .single-box-book .inside-b-book img{max-width:100%;vertical-align:middle;max-height:100%;}
#content-catalogo .single-box-book .inside-b-book .enl-book{overflow:hidden;position:relative;}
#content-catalogo .single-box-book .inside-b-book .enl-book span{position:absolute;bottom:0;left:0;font-size:8px;}

.plus-book{position:absolute;top:10px;right:10px;background:url(../img/ico-plus-cat.png) top left no-repeat;display:block;width:21px;height:21px;text-indent:-99999px;background-size:21px;}
	
/*****************************
PROPIEDADES FOOTER
******************************/
#footer{background:#2e2e2e;}
#footer .container{box-sizing:border-box;padding:50px 40px;overflow:hidden;}
.logo_f{display:block;background:url(../img/logo_footer.png) top left no-repeat;background-size:179px;width:179px;height:38px;text-indent:-99999px;}
.left_footer{width:42%;float:left;}
.right_footer{width:58%;float:left;overflow:hidden;}
.block_visita{width:65%;float:left;}
.block_visita h4{color:#afaaa6;font-size:14px;font-family:'sofia-pro-black', Helvetica, sans-serif;margin-bottom:48px;}
.block_visita ul{margin-bottom:50px;}
.block_visita ul li{color:#afaaa6;font-size:14px;}
.block_visita ul li a{color:#afaaa6;}

.block_siguenos{width:35%;float:left;}
.block_siguenos h4{color:#afaaa6;font-size:14px;font-family:'sofia-pro-black', Helvetica, sans-serif;margin-bottom:48px;}
.block_siguenos ul{padding:0;margin:0;font-size:0;}
.block_siguenos ul li{font-size:16px;display:inline-block;margin-right:20px;}
.block_siguenos ul li:last-child{margin-right:0;}
.block_siguenos ul li a{text-indent:-99999px;display:block;}
.block_siguenos ul li a.ico_facebook{background:url(../img/ico_facebook.png) center center no-repeat;width:10px;height:21px;background-size:10px;}
.block_siguenos ul li a.ico_twitter{background:url(../img/ico_twitter.png) center center no-repeat;width:18px;height:21px;background-size:18px;}
.block_siguenos ul li a.ico_instagram{background:url(../img/ico_instagram.png) center center no-repeat;width:21px;height:21px;background-size:21px;}
.block_siguenos ul li a.ico_youtube{background:url(../img/ico_youtube.png) center center no-repeat;width:22px;height:21px;background-size:22px;}

.txt-footer{clear:both;color:#afaaa6;font-size:12px;}
.txt-footer a{color:#afaaa6;}


/*****************************
PROPIEDADES ESPECIALES
******************************/
a img{border:0;}
.clear{clear:both;}
.hide{display:none !important;}

.desktop_opc{display:block;}
.mobile_opc{display:none;}
input{-webkit-border-radius:0; border-radius:0;}
textarea{-webkit-border-radius:0; border-radius:0;}
input, textarea, select {-webkit-appearance: none;}
.extend_menu_mob{display:none;}
.helper{display: inline-block;height:100%;vertical-align:middle;}





/*****************************
MEDIA QUERIES
******************************/

@media screen and (max-width: 1400px) {
	
}

@media screen and (max-width: 1200px) {
	
	
}

@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 768px) {	
	
}
